* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0073e6;
    color: white;
}

header img {
    border-radius: 5px;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #eef;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0073e6;
    color: white;
}

/* Форма */
fieldset {
    border: 2px solid #0073e6;
    padding: 15px;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    color: #0073e6;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0073e6;
    color: white;
    margin-top: 20px;
}
